

li {
    display: inline-grid;
    padding: 28px;
    border: 1px solid;
    height: 100px;
}
ul.quest li {
    padding: 17px;
}
ul.quest p {
    font-size: 12px;
}
.vedios {
    border-bottom: 1px solid #000;
    padding: 28px;
}